{
  "env": {
    "browser": true,
    "jquery": false
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["@samiroy/eslint-config"],
  "parserOptions": { "project": "./tsconfig.json" },
  "overrides": [
    {
      "files": ["test/*.tsx", "test/*.ts"],
      "parserOptions": {
        "project": "test/tsconfig.json",
      }
    }
  ]
}
